# Copyright Contributors to the Open Cluster Management project

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: discoveredclusterrefreshes.discovery.open-cluster-management.io
spec:
  group: discovery.open-cluster-management.io
  names:
    kind: DiscoveredClusterRefresh
    listKind: DiscoveredClusterRefreshList
    plural: discoveredclusterrefreshes
    singular: discoveredclusterrefresh
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: DiscoveredClusterRefresh is the Schema for the discoveredclusterrefreshes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DiscoveredClusterRefreshSpec defines the desired state of DiscoveredClusterRefresh
            properties:
              foo:
                description: Foo is an example field of DiscoveredClusterRefresh. Edit DiscoveredClusterRefresh_types.go to remove/update
                type: string
            type: object
          status:
            description: DiscoveredClusterRefreshStatus defines the observed state of DiscoveredClusterRefresh
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
