apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "discovery.open-cluster-management.io/v1",
          "kind": "DiscoveryConfig",
          "metadata": {
            "name": "discovery",
            "namespace": "open-cluster-management"
          },
          "spec": {
            "credential": "ocm-api-token",
            "filters": {
              "lastActive": 7
            }
          }
        }
      ]
    capabilities: Seamless Upgrades
    categories: Integration & Delivery
    createdAt: "2025-10-21T18:45:46Z"
    description: This operator discovers OpenShift Conatiner Platform clusters which
      are not yet under management by Open Cluster Management.
    operatorframework.io/suggested-namespace: open-cluster-management
    operators.operatorframework.io/builder: operator-sdk-v1.41.1
    operators.operatorframework.io/internal-objects: '["discoveredclusters.discovery.open-cluster-management.io"]'
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
    support: Red Hat
  name: discovery.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: DiscoveredCluster is the Schema for the discoveredclusters API
      displayName: Discovered Cluster
      kind: DiscoveredCluster
      name: discoveredclusters.discovery.open-cluster-management.io
      version: v1
    - description: DiscoveredCluster is the Schema for the discoveredclusters API
      displayName: Discovered Cluster
      kind: DiscoveredCluster
      name: discoveredclusters.discovery.open-cluster-management.io
      version: v1alpha1
    - description: DiscoveryConfig is the Schema for the discoveryconfigs API
      displayName: Discovery Config
      kind: DiscoveryConfig
      name: discoveryconfigs.discovery.open-cluster-management.io
      version: v1
    - description: DiscoveryConfig is the Schema for the discoveryconfigs API
      displayName: Discovery Config
      kind: DiscoveryConfig
      name: discoveryconfigs.discovery.open-cluster-management.io
      version: v1alpha1
  description: This operator discovers OpenShift Conatiner Platform clusters which
    are not yet under management by Open Cluster Management.
  displayName: Multicluster Discovery Operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - namespaces
          - secrets
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - addon.open-cluster-management.io
          resources:
          - addondeploymentconfigs
          - clustermanagementaddons
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - admissionregistration.k8s.io
          resources:
          - validatingwebhookconfigurations
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - agent.open-cluster-management.io
          resources:
          - klusterletaddonconfigs
          - klusterletaddonconfigs/finalizers
          - klusterletaddonconfigs/status
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apiextensions.k8s.io
          resources:
          - customresourcedefinitions
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - managedclusters
          - managedclusters/accept
          - managedclusters/finalizers
          - managedclusters/status
          - managedclustersetbindings
          - managedclustersetbindings/finalizers
          - managedclustersets
          - managedclustersets/bind
          - managedclustersets/finalizers
          - managedclustersets/join
          - placements
          - placements/finalizers
          verbs:
          - create
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - config.open-cluster-management.io
          resources:
          - klusterletconfigs
          verbs:
          - create
          - get
          - list
          - patch
          - update
        - apiGroups:
          - discovery.open-cluster-management.io
          resources:
          - discoveredclusters
          verbs:
          - create
          - delete
          - deletecollection
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - discovery.open-cluster-management.io
          resources:
          - discoveredclusters/finalizers
          - discoveredclusters/status
          - discoveryconfigs/finalizers
          - discoveryconfigs/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - discovery.open-cluster-management.io
          resources:
          - discoveryconfigs
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - register.open-cluster-management.io
          resources:
          - managedclusters/accept
          verbs:
          - update
        serviceAccountName: discovery-operator
      deployments:
      - label:
          app: discovery-operator
        name: discovery-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              app: discovery-operator
          strategy: {}
          template:
            metadata:
              labels:
                app: discovery-operator
            spec:
              containers:
              - args:
                - --leader-elect
                command:
                - /manager
                env:
                - name: POD_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                image: discovery-operator:latest
                imagePullPolicy: Always
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: discovery-operator
                ports:
                - containerPort: 8080
                  name: metrics
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  requests:
                    cpu: 100m
                    memory: 100Mi
                securityContext:
                  allowPrivilegeEscalation: false
                volumeMounts:
                - mountPath: /tmp/k8s-webhook-server/serving-certs
                  name: cert
                  readOnly: true
                - mountPath: /etc/pki/ca-trust/extracted/pem/
                  name: trusted-ca-bundle
              imagePullSecrets:
              - name: discovery-operator-pull-secret
              serviceAccountName: discovery-operator
              terminationGracePeriodSeconds: 10
              volumes:
              - name: cert
                secret:
                  defaultMode: 420
                  secretName: discovery-operator-webhook-service
              - configMap:
                  defaultMode: 440
                  items:
                  - key: ca-bundle.crt
                    path: tls-ca-bundle.pem
                  name: trusted-ca-bundle
                  optional: true
                name: trusted-ca-bundle
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - configmaps/status
          verbs:
          - get
          - update
          - patch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        serviceAccountName: discovery-operator
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - open-cluster-management
  - discovery
  links:
  - name: Discovery
    url: https://discovery.domain
  maintainers:
  - email: acm-contact@redhat.com
    name: Red Hat
  maturity: alpha
  provider:
    name: Red Hat
  version: 0.0.1
